<!-- Sticky header -->
<link rel="stylesheet" href="main.css" />
<header class="header-outer">
  <div class="header-inner responsive-wrapper">
    <div class="header-logo">
      <img src="FB2.png" />
    </div>
    <nav class="header-navigation">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Tools</a>
      <a href="#">Contact Us</a>
      <button>Menu</button>
    </nav>
  </div>
</header>
<!-- Content -->
<main class="main">
  <div class="main-content responsive-wrapper">
    <article class="widget">
      <h2>What is your Goal Today ? 🤵💼</h2>
      <button
        id="button-54"
        role="link"
        onclick="window.location.href='https://google.com'"
      >
        Get List of Similar Businesses
      </button>
      <button
        id="button-54"
        role="link"
        onclick="window.location.href='https://google.com'"
      >
        View Location on Map
      </button>
      <button
        id="button-54"
        role="link"
        onclick="window.location.href='https://google.com'"
      >
        Find if the location is suitable
      </button>
      <button
        id="button-54"
        role="link"
        onclick="window.location.href='https://google.com'"
      >
        Analyse Public Transportation in Area
      </button>
    </article>
  </div>
</main>

<!--
 <p>
        This sticky header consists of two elements: an
        <strong>outer</strong> and an <strong>inner</strong> container. The
        outer container is taller than the inner — and the inner is centered
        vertically.
      </p>
      <p>
        By utilizing the <code>position: sticky</code> property
        <strong>twice</strong>, both on the header's
        <strong>outer container</strong> and
        <strong>inner container</strong> the outer container will stick to the
        <code>body</code>, while the inner container will stick to the outer
        container.
      </p>
      <p>
        Note that the outer container has a negative <code>top</code> value
        equal to the height difference between the two containers. This causes
        the outer container to stick <strong>above</strong> the
        <code>body</code>, making the inner container stick to the "ceiling" on
        scroll.
      </p>
      <p></p>
    -->
