{%extends "base.html"%} {%load custom_filters%}
<!-- Content -->
{%block white_box %} {% for tool1 in tool_list %}
<h2>What is your Goal Today ? 🤵💼</h2>
<button
  id="button-54"
  role="link"
  onclick="window.location.href='https://google.com'"
>
  Get List of Similar Businesses
</button>
<button
  id="button-54"
  role="link"
  onclick="window.location.href='https://google.com'"
>
  View Location on Map
</button>
<button
  id="button-54"
  role="link"
  onclick="window.location.href='https://google.com'"
>
  Find if the location is suitable
</button>
<button
  id="button-54"
  role="link"
  onclick="window.location.href='https://google.com'"
>
  Analyse Public Transportation in Areas
</button>
{%endblock%}
